
div#main {
    grid-template-rows: 100vh;
    height: calc(100vh - 40px);
    min-width: 45vh;
    display: grid;

    @media only screen and (max-width: 767px) {
        grid-template-columns: auto !important;
    }

    div.sec {
        padding: 20px 10px;
        height: inherit;

        h2 {
            width: fit-content;
            margin: 0 15px;
        }
    }

    div#nameInput {
        grid-auto-columns: auto min-content;
        grid-auto-flow: column;
        height: min-content;
        margin: 30vh auto;
        display: grid;
        gap: 15px;

        input {
            padding: 15px 25px;
            font-size: 20pt;
            border: 0;
        }

        button {
            background-color: black;
            padding: 10px 75px;
            cursor: pointer;
            font-size: 15pt;
            border: 0;
        }
    }

    div#chat {
        grid-template-rows: min-content auto min-content;
        padding: 15px;
        display: grid;
        gap: 15px;

        @media only screen and (max-width: 767px) {
            display: none;
        }

        div#messages {
            scroll-behavior: smooth;
            grid-auto-rows: auto;
            overflow: auto;

            div.message {
                background-color: #4c254e;
                border-radius: 15px;
                margin-bottom: 10px;
                padding: 10px 20px;
                font-size: 10pt;
                display: grid;
                width: 70%;

                label.content {
                    word-break: break-word;
                }

                label.date {
                    justify-self: right;
                    font-size: 8pt;
                }
            }

            div.message.system {
                background-color: transparent;
                border: 1px solid #4d4d4d;
                border-radius: 6px;
                margin: 0 auto 5px;
                text-align: center;
                padding: 5px 10px;
                width: fit-content;
                font-size: 8pt;
                color: #6b6b6b;
            }

            div.message.mine {
                background-color: #2e2e2e;
                margin-left: auto;
            }
        }

        div#footer {
            grid-template-rows: auto min-content;
            background-color: transparent;
            display: grid;
            gap: 10px;

            @media only screen and (max-width: 767px) {
                grid-template-rows: auto auto;
                grid-template-columns: auto;
            }

            input {
                background-color: #2b2b2b;
                text-overflow: ellipsis;
                border-radius: 10px;
                white-space: nowrap;
                padding: 15px 20px;
                overflow: hidden;
                color: #b6b6b6;
                border: 0;
            }

            button {
                background-color: rgb(44, 96, 58);
                border-radius: 10px;
                font-size: 10pt;
                height: 35px;
                border: 0;
            }
        }
    }

    div#game {
        background-color: black;

        h1 {
            margin: 0 auto;
        }

        canvas {
            border: 1px solid rgb(170, 170, 170);
            background: rgb(10, 11, 18);
            border-radius: 15px;
            margin: 0 auto;
            display: grid;
            height: 75vh;
            width: 45vh;
        }
    }

    div#fila {
        @media only screen and (max-width: 767px) {
            display: none;
        }
    }
}